/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
* {
  padding: 0;
  margin: 0;
}
/* END OF RESET */

/* GENERAL */
html {
	color: #2b2b2b;
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 16px;
}
html, body {
	width:100%;
}
body {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}
/* INTRO */
#intro {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	height: 100vh;
	justify-content: center;
}
#intro div:first-child {
	width: 80%;
}
#intro h1 {
	background: url(../img/heading-bg.jpg) repeat-y;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 6s ease forwards;
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;

	font-size: 4.5em;
	font-weight: 500;
	margin-bottom: 0.2em;
}
@-webkit-keyframes aitf {
	from { background-position: left 25%; }
	to { background-position: left 65%; }
}
#intro h2 {
	font-size: 1.75em;
	margin-bottom: 1em;
}
#intro div:first-child div {
	display: flex;
	justify-content: space-between;
}
#intro p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-right: 3em;
	max-width: 38rem;
}
#intro a {
	align-self: center;
	border: #2b2b2b 3px solid;
	border-radius: 3px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	color: #2b2b2b;
	display: inline-block;
	font-size: 1.2em;
	font-weight: 400;
	min-width: 5.5em;
	padding: 0.7em 1em;
	text-align: center;
	text-decoration: none;
}
/* Extra Small Devices, INTRO */
@media only screen and (max-width : 320px) {
	#intro h1 {
		font-size: 4em;
	}
}
/* Small Devices, INTRO */
@media only screen and (max-width : 767px) {
	#intro {
		font-size: 0.9rem;
	}
	#intro div:first-child {
		width: 90%;
	}
	#intro div:first-child div {
		flex-direction: column;
	}
	#intro p {
		margin-right: unset;
	}
	#intro a {
		align-self: flex-start;
		border: #2b2b2b 2px solid;
		font-weight: 400;
	}
}
/* Small Devices, INTRO */
@media only screen and (max-width : 768px) {
	#intro div:first-child div {
		flex-direction: column;
	}
	#intro a {
		align-self: flex-start;
		margin-top: 1.5em;
	}
}

/* SKILLS */
#skills {
	background: #DFDFDF;
	display: flex;
	display: none; /* REMOVE THIS */
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

#skills .skill {
	border-radius: 3px;
	margin: 15px;
	max-width: 15rem;
	position: relative;
}

#skills > .skill:nth-child(2) { background-color: #214b21; }
#skills .skill:nth-child(3) { background-color: #84DCC6; }
#skills .skill:nth-child(4) { background-color: #ecc218; }
#skills .skill:nth-child(5) { background-color: #FBBA72; }
#skills .skill:nth-child(6) { background-color: #86d9ff; }
#skills .skill:nth-child(7) { background-color: #fdfa3f; }
#skills .skill:nth-child(8) { background-color: #ff7057; }
#skills .skill:nth-child(9) { background-color: #f5f5f5; }
#skills .skill:nth-child(10) { background-color: #ff7057; }

#skills .skill svg {
	max-width: 8em;
}

#skills .skill h3 {
	font-weight: 500;
	margin-bottom: 1rem;
}

#skills .skill p {
	font-weight: 300;
}


#skills .html-css > svg {
	height: 8em;
	max-width: 4em;
}

#skills .javascript > div:nth-child(1) {
	background: #5a554c;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 3rem 1.5rem 1.5rem 1.5rem;
	position: relative;
	text-align: right;
}

#skills .javascript > div:nth-child(1) svg {
	transition: all 0.7s ease-in-out;
}

#skills .javascript > div:nth-child(1):hover svg {
	transform: translate(-2rem, -0.75rem)
}

#skills .javascript > div:nth-child(2) {
	background: #ffffff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 1rem;
}

#skills .javascript > div:nth-child(2) span {
	background: #F7D860;
	display: block;
	height: 2px;
	margin-bottom: 1rem;
	width: 90%;
}

#skills .node {
	background-color: #b97df5;
	height: 15rem;
}

#skills .node > div:nth-child(1) {
	border-radius: 3px;
	text-align: center;
}

#skills .node > div:nth-child(1) svg {
	left: 50%;
	max-width: 11em;
	position: absolute;
	top: 48%;
	transform: translate(-50%, -50%);
}

#skills .node > div:nth-child(2) {
	opacity: 0;
}

#skills .node:hover > div:nth-child(1) {
	opacity: 0;
}

#skills .node:hover > div:nth-child(2) {
	opacity: 1;
}

/* PROJECTS */
#projects {
	background: #ffffff;
}

#projects h3 {
	font-size: 1.4em;
	margin-bottom: 0.25em;
}

#projects h4 {
	font-size: 1.2em;
	margin-bottom: 1em;
}

#projects .project {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#projects .project:nth-child(odd) {
	flex-direction: row-reverse;
}

#projects .project > div {
	width: 50%;
}

#projects .project > div:first-child {
	align-items: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
}

#projects .project > div:first-child .project-info {
	padding: 7em;
}

#projects .project:nth-child(1) > div:first-child { background-color: #865CD6; }
/* #projects .project:nth-child(1) > div:first-child { background-color: #00bb5b; } */
#projects .project:nth-child(2) > div:first-child { background-color: #1a1a1a; }
#projects .project:nth-child(3) > div:first-child { background-color: #2b2b2b; }
#projects .project:nth-child(4) > div:first-child { background-color: #f68332; }

#projects .project > div:nth-child(2) {
	min-height: 40%;
}

#projects .project.email > div:nth-child(2) { background: url(http://via.placeholder.com/1920x1080) no-repeat center center; background-size: cover; }
#projects .project.spotify > div:nth-child(2) { background: url(http://via.placeholder.com/1920x1080) no-repeat center center; background-size: cover; }
#projects .project.legolas > div:nth-child(2) { background: url(../img/legolas.png) no-repeat center center; background-size: cover; }
#projects .project.tomahawk > div:nth-child(2) { background: url(../img/tomahawk.png) no-repeat center center; background-size: cover; }
#projects .project.natur > div:nth-child(2) { background: url(../img/natur.png) no-repeat center center; background-size: cover; }

#projects .project > div > .project-info > .project-icons {
	align-items: center;
	display: flex;
	margin: 1em auto;
}

#projects .project > div > .project-info > .project-icons svg {
	margin: 0 0.2em;
	width: 3em;
}

#projects .project > div > .project-info > .project-icons svg:first-child {
	margin-left: -0.25em;
}

#projects .project > div > .project-info > .project-icons svg path {
	fill: #ffffff;
}

#projects .project > div > .project-info > .project-buttons a {
	border-radius: 3px;
	color: white;
	display: inline-block;
	padding: 0.75em 1em;
	text-decoration: none;
}

#projects .project.email > div > .project-info > .project-buttons a {
	background-color: #17c2a4;
}
#projects .project.spotify > div > .project-info > .project-buttons a {
	background-color: #f68332;
}
#projects .project.legolas > div > .project-info > .project-buttons a {
	background-color: #32bae7;
}
#projects .project.tomahawk > div > .project-info > .project-buttons a {
	background-color: #777777;
}
#projects .project.natur > div > .project-info > .project-buttons a {
	background-color: #f6b732;
	margin-bottom: 0.25em;
}

@media only screen and (max-width : 1500px) {
	#projects .project > div:first-child .project-info {
		padding: 5em;
	}
}
@media only screen and (max-width : 1150px) {
	#projects .project > div:first-child .project-info {
		padding: 3em;
	}
}
@media only screen and (max-width : 1000px) {
	#projects .project > div:first-child .project-info {
		padding: 3em 2em;
	}
}
@media only screen and (max-width : 900px) {
	#projects .project > div:first-child .project-info {
		padding: 3em 1em;
	}
}
@media only screen and (max-width : 768px) {
	#projects .project > div:first-child .project-info {
		padding: 3em 2em;
	}
}
/* Small Devices, PROJECTS */
@media only screen and (max-width : 767px) {
	#projects .project > div {
		min-width: 100%;
	}
	#projects .project:nth-child(odd), #projects .project:nth-child(even) {
		flex-direction: column-reverse;
	}
	#projects .project > div:first-child .project-info {
		font-size: 0.9em;
		padding: 2.5em;
	}
}

/* CONTACT ME */
#contact {
	align-items: center;
	display: flex;
	justify-content: space-around;
	padding: 5em 4em;
}
#contact > div, #contact > form {
	width: 33%;
}
#contact > div:not(:last-child) {
	display: flex;
	flex-direction: column;
}
#contact .contact-message {
	padding: 2em;
}
#contact .contact-message h2 {
	font-size: 1.75em;
	margin-bottom: 0.75em;
}
#contact .contact-message h3 {
	font-size: 1.1em;
}
#contact .contact-message h3:nth-child(2) {
	margin-bottom: 0.75em;
}
#contact .contact-form {
	text-align: center;
}
#contact .contact-form fieldset {
	margin: 1rem 0;
	position: relative;
	width: 100%;
}
#contact .contact-form input:not([type="submit"]), #contact .contact-form textarea {
	border: none;
	border-bottom: 2px solid #777777;
	box-sizing: border-box;
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding: 1.5em 0em 0.5em 0em;
	transition: border 0.2s ease-in;
	width: 100%;
}
#contact .contact-form input[type="submit"] {
	background: none;
	border: #2b2b2b 2px solid;
	border-radius: 3px;
	cursor: pointer;
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding: 0.5em 0.8em;
	margin-top: 1em;
}
#contact .contact-form input:not([type="submit"]):focus, #contact .contact-form textarea:focus {
	border-bottom: 2px solid #68B0FE;
	outline: none;
}
#contact .contact-form input:focus {
	outline: none;
}
#contact .contact-form label {
	left: 0em;
	position: absolute;
	top: 1.5em;
	transition: all 0.2s ease-in;
}
#contact .contact-form input:focus + label,
#contact .contact-form input:valid + label,
#contact .contact-form textarea:focus + label,
#contact .contact-form textarea:valid + label {
	font-size: 0.7em;
	left: 0em;
	top: 0.25em;
}
#contact .contact-img img {
	display: block;
	margin: auto;
}
@media only screen and (max-width : 950px) {
	#contact > div, #contact > form {
		width: 50%;
	}
	#contact .contact-message {
		padding: 2em 2em 2em 0;
	}
	#contact .contact-img {
		display: none;
	}
}
/* Small Devices */
@media only screen and (max-width : 767px) {
	#contact {
		flex-direction: column;
		padding: 2em;
	}
	#contact .contact-message {
		padding: 1em 2em;
	}
	#contact > div, #contact > form {
		width: 100%;
	}
}

/* FOOTER */
footer {
	align-items: center;
	background-color: #c7c7c7;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 1.5em 2em;
}
footer .social-icons {
	align-items: center;
	display: flex;
	justify-content: center;
}
footer .social-icons svg {
	margin: 0 0.75em;
	transition: transform 0.2s ease-in;
	width: 2.25em;
}
footer .social-icons svg:hover {
	transform: translateY(-5px);
}
footer .social-icons svg path {
	transition: fill 0.2s ease-in;
}
footer .social-icons svg:hover path {
	fill: #131313;
}
/* Small Devices */
@media only screen and (max-width : 767px) {
	footer {
		flex-direction: column-reverse;
		padding: 1em;
	}
	footer p {
		margin-top: 1em;
	}
}








/* Smallest Devices (iPhone 5) */
@media only screen and (max-width : 320px) {

}

/* Small Devices */
@media only screen and (max-width : 767px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}