$offblack: #2b2b2b;

html {
	height: 100%;
}
body {
	font-family: Rubik;
	color: $offblack;
	margin: 0;
	height: 100%;
}
.container {
	margin: 0 auto;
}
.top-section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.container {
		.top-titles {
			h1 {
				font-weight: 400;
			}
			h2 {
				font-weight: 400;
			}
		}
		.top-split {
			display: flex;
			flex-wrap: wrap;
			.top-info { 
				p {
					margin: 0;
					line-height: 27px;
				}
			}
			.top-button {
				.hide {
					opacity: 0;
				}
				.contact-container {
					transition: all 0.1s linear;
					.contact-me-top, .contact-me-bottom {
						padding: 12px 18px;
						color: $offblack;
						font-weight: 500;
						border: solid 3px $offblack;
						text-decoration: none;
						box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
						background: #ffffff;
					}
					.contact-me-bottom {
						position: fixed;
					  margin-top: 0 !important;
					 	bottom: 3%;
					 	right: 4%;
					}
					.contact-me-top:hover, .contact-me-bottom:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.logos {
	background: #e0e0e0;
	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.icon {
			height: auto;
			opacity: 0;
		  -webkit-transform: rotate(0);
			-moz-transform: rotate(0);
			transform: rotate(0);
			transition: all 0.2s linear;
		}
		.icon:hover {
		  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.8) 30%, #000 50%, rgba(0,0,0,.8) 70%);
		  -webkit-mask-size: 200%;
		  animation: shine 2s infinite;
		}
		@-webkit-keyframes shine {
		  from {
		    -webkit-mask-position: 150%;
		  }
		  
		  to {
		    -webkit-mask-position: -50%;
		  }
		}
	}
}
.projects {
	.project {
		display: flex;
		flex-wrap: wrap;
		.project-img {
			-webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
		.project-info {
			align-self: center;
			.project-content {
				color: #ffffff;
				h3 {
					font-weight: 400;
					font-size: 2em;
					margin: 0;
				}
				h4 {
					font-weight: 400;
					// font-size: 1.5em;
					margin: 0;
				}
				p {
					font-weight: 400;
				}
				.project-icons {
					margin: 25px auto 25px auto;
					.project-icon {
						max-width: 40px;
						margin-right: 10px;
					}
				}
				.project-buttons {
					display: flex;
					flex-wrap: nowrap;
					justify-content: flex-start;
					.view-btn {
						border-radius: 3px;
						border: none;
						box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.2);
						cursor: pointer;
						text-decoration: none;
						color: #ffffff;
						transition: all 0.2s ease-in-out;				
					}
					.view-btn:hover {
						text-decoration: none;
						box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.4);
					}
				}
			}
		}
	}
}
.contact {
	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 12% auto;
		.contact-info {
			h2 {
				font-size: 2em;
				font-weight: 400;
				margin-top: 0;
				span {
					font-size: 1.7em;
					margin-left: 60px;
				}
			}
			h3 {
				font-weight: 400;
			}
		}
		.contact-form {
			form {
				margin: 0 auto;
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $offblack;
				  font-family: Rubik;
				  opacity: 0.8;
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: $offblack;
				  font-family: Rubik;
				  opacity: 0.8;
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: $offblack;
				  font-family: Rubik;
				  opacity: 0.8;				  
				}
				:-moz-placeholder { /* Firefox 18- */
				  color: $offblack;
				  font-family: Rubik;
				  opacity: 0.8;				  
				}
				.input-blocks {
					position: relative;
					input {
						display: block;
						padding: 12px 0;
						font-family: Rubik;
						font-size: 1.1em;
						border: none;
				    border-bottom: 2px solid $offblack;
				    outline: none;
				    transition: all 0.2s ease-in-out;
					}
					.input-label {
						position: absolute;
						font-size: 0.9em;
						top: 50%;
						left: 0%;
						transform: translateY(-50%);
						pointer-events: none;
						transition: all 0.2s ease-in-out;
					}
					input[type="submit"] {
						margin-top: 40px;
						cursor: pointer;
						font-weight: 500;
						font-size: 0.9em;
						background: none;
						border: 2px solid $offblack;
						transition: all 0.15s ease-out;
					}
					input[type="submit"]:hover {
						background: $offblack;
						color: #ffffff;
					}
					textarea {
						display: block;
						padding: 12px 0;
						margin: 40px 0;
						font-family: Rubik;
						font-size: 1.1em;
						border: none;
				    border-bottom: 2px solid $offblack;
				    outline: none;
				    transition: all 0.2s ease-in-out;
					}
					.textarea-label {
						position: absolute;
						font-size: 0.9em;
						top: 8%;
						left: 0;
						transform: translateY(-8%);
						pointer-events: none;
						transition: all 0.2s ease-in-out;
					}
					input:focus, textarea:focus {
						border-bottom: 2px solid #68b0fe;
					}
					input:focus + .input-label, textarea:focus + .textarea-label, input.has-value + .input-label, textarea.has-value + .textarea-label {
						top: -10px;
						font-size: 0.7em;
					}
				}
			}
		}
	}
}
footer {
	background: $offblack;
	padding: 30px;
	.social-footer {
		text-align: center;
		i {
			font-size: 3em;
			margin: 0 25px;
			color: #ffffff;
			cursor: pointer;
			text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
			transition: all 0.1s linear;
		}
		i:hover {
			text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
		}
		p {
			font-size: 1.2em;
			color: #ffffff;
			margin: 20px auto 0 auto;
			text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
		}
	}
}

//PROJECT IMAGES/COLORS

.natur {
	background: #f68332;
	.project-img {
		background: url("../images/natur.png") no-repeat center center;
	}
	.project-info {
		background: #f68332;
		.project-content {
			.view-btn {
				background: #f6b732;
			}
			.view-btn:hover {
				background: #ffb10c;
			}
		}
	}
}
.tomahawk {
	background: $offblack;
	.project-img {
		background: url("../images/tomahawk.png") no-repeat center center;
	}
	.project-info {
		background: $offblack;
		.project-content {
			.view-btn {
				background: #777777;
			}
			.view-btn:hover {
				background: #5e5e5e;
			}
		}
	}
}
.javascript30 {
	background: #4aa597;
	.project-img {
		background: url("../images/javascript30.png") no-repeat center center;
	}
	.project-info {
		background: #4aa597;
		.project-content {
			.view-btn {
				background: #EF974A;
			}
			.view-btn:hover {
				background: #fc7e25;
			}
		}
	}
}
.trekking {
	background: #685c37;
	.project-img {
		background: url("../images/trekking.png") no-repeat center center;
	}
	.project-info {
		background: #685c37;
		.project-content {
			.view-btn {
				background: #aa9d73;
			}
			.view-btn:hover {
				background: #978b65;
			}
		}
	}
}
.cuda {
	background: #D74680;
	.project-img {
		background: url("../images/cuda.png")no-repeat center center;
	}
	.project-info {
		background: #D74680;
		.project-content {
			.view-btn {
				background: #17c2a4;
			}
			.view-btn:hover {
				background: #0db395;
			}
		}
	}
}

.legolas {
	background: #1a1a1a;
	.project-img {
		background: url("../images/legolas.png") no-repeat center center;
	}
	.project-info {
		background: #1a1a1a;
		.project-content {
			.view-btn {
				background: #32bae7;
			}
			.view-btn:hover {
				background: #0594c4;
			}
		}
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.container {
		max-width: 90%;
	}
	.top-section {
		.container {
			.top-titles {
				h1 {
					margin: 0;
					font-size: 2.5em;
				}
				h2 {
					margin: 0 0 45px 0;
					font-size: 1.5em;
				}
			}
			.top-info {
				width: 100%;
				margin-bottom: 60px;
			}
			.top-button {
				width: 100%;
			}
		}
	}
	.logos {
		padding: 40px 0;
		
		.container {
			justify-content: space-around;

			.icon {
				width: 18%;
				height: auto;
				margin: 10px;
			}
		}
	}
	.projects {
		.project {
			height: 100%;
			.project-img {
				height: 250px;
				width: 100%;
			}
			.project-info {
				width: 100%;
				.project-content {
					max-width: 85%;
					margin: 11% auto 14% auto;
					h4 {
						font-size: 1.4em;
					}
					p {
						font-size: 0.85em;
					}
					.project-buttons {
						.view-btn {
							padding: 10px 10px;
							margin-right: 8px;
							font-size: 0.8em;
							font-weight: 500;
							text-align: center;
						}
					}
				}
			}
		}
	}
	.contact-info {
		text-align: center;
		width: 100%;
		h2 {
			span {
				display: none;
				margin: 0 auto 0 auto;
			}
		}
		h3 {
			font-size: .9em;
			margin: 0 auto 10px auto;
		}
	}
	.contact-form {
		width: 100%;
		form {
			width: 295px;
			.input-blocks {
				input {
					margin: 40px 0;
					width: 100%;
				}
				input[type="submit"] {
					margin: auto;
					width: 40%;
				}
				textarea {
					width: 100%;
				}
			}
		}
	}
	.contact-img {
		width: 0%;
		img {
			display: none;
		}
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 410px) {
	.top-section {
		.container {
			.top-titles {
				h1 {
					font-size: 2.8em;
				}
				h2 {
					font-size: 1.8em;
				}
			}
			.top-info {
				margin-bottom: 65px;
			}
		}
	}
	.projects {
		.project {
			.project-img {
				height: 300px;
			}
			.project-info {
				.project-content {
					.project-buttons {
						.view-btn {
							margin-right: 15px;
							font-size: 0.9em;
						}
					}
				}
			}
		}
	}
	.contact-form {
		width: 100%;
		form {
			width: 375px;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.container {
		max-width: 80%;
	}
	.top-section {
		.container {
			.top-titles {
				h1 {
					font-size: 3.5em;
				}
				h2 {
					font-size: 2.4em;
				}
			}
			.top-info {
				width: 60%;
				margin-bottom: 0;
				p {
					max-width: 100%;
					font-size: 1.1em;
				}
			}
			.top-button {
				width: 40%;
				text-align: right;
				align-self: flex-end;
				margin-bottom: 12px;
			}
		}
	}
	.logos {
		padding: 30px 0;
		
		.container {
			justify-content: space-around;

			.icon {
				width: 12%;
				margin: 20px;
			}
		}
	}
	.projects {
		.project {
			height: 90%;
			.project-img {
				height: 500px;
			}
			.project-info {	
				.project-content {
					max-width: 80%;
					margin: 10% auto;
					.project-buttons {
						.view-btn {
							margin-right: 15px;
							font-size: 1.1em;
							font-weight: 400;
							padding: 13px 16px;
						}
					}
				}
			}
		}
	}
	.contact {
		.container {
			margin: 7% auto;
			.contact-info {
				h3 {
					font-size: 1.6em;
				}
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.container {
		max-width: 75%;
	}
	.projects {
		.project {
			.project-img {
				height: auto;
				width: 50%;
			}
			.project-info {
				width: 50%;
			}
		}
	}
	.projects {
		.project:nth-child(even) {
			flex-direction: row-reverse;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		max-width: 1170px;
	}
	.top-section {
		.container {
			.top-info {
				p {
					max-width: 80%;
				}
			}
		}
	}
	.logos {
		padding: 40px 0;
		
		.container {
			justify-content: space-between;

			.icon {
				width: 8%;
				margin: 10px;
			}
			.icon:first-child {
				margin-left: 0;
			}
			.icon:last-child {
				margin-right: 0;
			}
		}
	}
	.projects {
		.project {
			height: 600px;
			.project-img {
				height: auto;
			}
			.project-info {
				.project-content {
					max-width: 60%;
					margin: auto;
					p {
						font-size: 1em;
					}
					.project-buttons {
						.view-btn {
							margin-right: 15px;
							font-size: 0.9em;
						}
					}
				}
			}
		}
	}
	.contact {
		.container {
			margin: 5% auto;
			.contact-info {
				text-align: left;
				width: 33.3%;
				h2 {
					margin: 0 auto 50px auto;
					span {
						display: inline-block;
					}
				}
				h3 {
					font-size: 1.3em;
					margin: 0 100px 50px auto;
				}
			}
			.contact-form {
				width: 33.3%;
				form {
					width: 375px;
					.input-blocks {
						input {
							width: 100%;
						}
						input[type="submit"] {
							margin: 40px auto;
							width: 40%;
						}
						textarea {
							width: 100%;
						}
					}
				}
			}
			.contact-img {
				width: 33.3%;
				img {
					display: block;
					margin: 0 auto 0 auto;
				}
			}
		}
	}
}

