html {
  height: 100%; }

body {
  font-family: Rubik;
  color: #2b2b2b;
  margin: 0;
  height: 100%; }

.container {
  margin: 0 auto; }

.top-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .top-section .container .top-titles h1 {
    font-weight: 400; }
  .top-section .container .top-titles h2 {
    font-weight: 400; }
  .top-section .container .top-split {
    display: flex;
    flex-wrap: wrap; }
    .top-section .container .top-split .top-info p {
      margin: 0;
      line-height: 27px; }
    .top-section .container .top-split .top-button .hide {
      opacity: 0; }
    .top-section .container .top-split .top-button .contact-container {
      transition: all 0.1s linear; }
      .top-section .container .top-split .top-button .contact-container .contact-me-top, .top-section .container .top-split .top-button .contact-container .contact-me-bottom {
        padding: 12px 18px;
        color: #2b2b2b;
        font-weight: 500;
        border: solid 3px #2b2b2b;
        text-decoration: none;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
        background: #ffffff; }
      .top-section .container .top-split .top-button .contact-container .contact-me-bottom {
        position: fixed;
        margin-top: 0 !important;
        bottom: 3%;
        right: 4%; }
      .top-section .container .top-split .top-button .contact-container .contact-me-top:hover, .top-section .container .top-split .top-button .contact-container .contact-me-bottom:hover {
        text-decoration: none; }

.logos {
  background: #e0e0e0; }
  .logos .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .logos .container .icon {
      height: auto;
      opacity: 0;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      transform: rotate(0);
      transition: all 0.2s linear; }
    .logos .container .icon:hover {
      -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.8) 30%, #000 50%, rgba(0, 0, 0, 0.8) 70%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite; }
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%; }
  to {
    -webkit-mask-position: -50%; } }
.projects .project {
  display: flex;
  flex-wrap: wrap; }
  .projects .project .project-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .projects .project .project-info {
    align-self: center; }
    .projects .project .project-info .project-content {
      color: #ffffff; }
      .projects .project .project-info .project-content h3 {
        font-weight: 400;
        font-size: 2em;
        margin: 0; }
      .projects .project .project-info .project-content h4 {
        font-weight: 400;
        margin: 0; }
      .projects .project .project-info .project-content p {
        font-weight: 400; }
      .projects .project .project-info .project-content .project-icons {
        margin: 25px auto 25px auto; }
        .projects .project .project-info .project-content .project-icons .project-icon {
          max-width: 40px;
          margin-right: 10px; }
      .projects .project .project-info .project-content .project-buttons {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start; }
        .projects .project .project-info .project-content .project-buttons .view-btn {
          border-radius: 3px;
          border: none;
          box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
          cursor: pointer;
          text-decoration: none;
          color: #ffffff;
          transition: all 0.2s ease-in-out; }
        .projects .project .project-info .project-content .project-buttons .view-btn:hover {
          text-decoration: none;
          box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.4); }

.contact .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 12% auto; }
  .contact .container .contact-info h2 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 0; }
    .contact .container .contact-info h2 span {
      font-size: 1.7em;
      margin-left: 60px; }
  .contact .container .contact-info h3 {
    font-weight: 400; }
  .contact .container .contact-form form {
    margin: 0 auto; }
    .contact .container .contact-form form ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #2b2b2b;
      font-family: Rubik;
      opacity: 0.8; }
    .contact .container .contact-form form ::-moz-placeholder {
      /* Firefox 19+ */
      color: #2b2b2b;
      font-family: Rubik;
      opacity: 0.8; }
    .contact .container .contact-form form :-ms-input-placeholder {
      /* IE 10+ */
      color: #2b2b2b;
      font-family: Rubik;
      opacity: 0.8; }
    .contact .container .contact-form form :-moz-placeholder {
      /* Firefox 18- */
      color: #2b2b2b;
      font-family: Rubik;
      opacity: 0.8; }
    .contact .container .contact-form form .input-blocks {
      position: relative; }
      .contact .container .contact-form form .input-blocks input {
        display: block;
        padding: 12px 0;
        font-family: Rubik;
        font-size: 1.1em;
        border: none;
        border-bottom: 2px solid #2b2b2b;
        outline: none;
        transition: all 0.2s ease-in-out; }
      .contact .container .contact-form form .input-blocks .input-label {
        position: absolute;
        font-size: 0.9em;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        pointer-events: none;
        transition: all 0.2s ease-in-out; }
      .contact .container .contact-form form .input-blocks input[type="submit"] {
        margin-top: 40px;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.9em;
        background: none;
        border: 2px solid #2b2b2b;
        transition: all 0.15s ease-out; }
      .contact .container .contact-form form .input-blocks input[type="submit"]:hover {
        background: #2b2b2b;
        color: #ffffff; }
      .contact .container .contact-form form .input-blocks textarea {
        display: block;
        padding: 12px 0;
        margin: 40px 0;
        font-family: Rubik;
        font-size: 1.1em;
        border: none;
        border-bottom: 2px solid #2b2b2b;
        outline: none;
        transition: all 0.2s ease-in-out; }
      .contact .container .contact-form form .input-blocks .textarea-label {
        position: absolute;
        font-size: 0.9em;
        top: 8%;
        left: 0;
        transform: translateY(-8%);
        pointer-events: none;
        transition: all 0.2s ease-in-out; }
      .contact .container .contact-form form .input-blocks input:focus, .contact .container .contact-form form .input-blocks textarea:focus {
        border-bottom: 2px solid #68b0fe; }
      .contact .container .contact-form form .input-blocks input:focus + .input-label, .contact .container .contact-form form .input-blocks textarea:focus + .textarea-label, .contact .container .contact-form form .input-blocks input.has-value + .input-label, .contact .container .contact-form form .input-blocks textarea.has-value + .textarea-label {
        top: -10px;
        font-size: 0.7em; }

footer {
  background: #2b2b2b;
  padding: 30px; }
  footer .social-footer {
    text-align: center; }
    footer .social-footer i {
      font-size: 3em;
      margin: 0 25px;
      color: #ffffff;
      cursor: pointer;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      transition: all 0.1s linear; }
    footer .social-footer i:hover {
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); }
    footer .social-footer p {
      font-size: 1.2em;
      color: #ffffff;
      margin: 20px auto 0 auto;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }

.natur {
  background: #f68332; }
  .natur .project-img {
    background: url("../images/natur.png") no-repeat center center; }
  .natur .project-info {
    background: #f68332; }
    .natur .project-info .project-content .view-btn {
      background: #f6b732; }
    .natur .project-info .project-content .view-btn:hover {
      background: #ffb10c; }

.tomahawk {
  background: #2b2b2b; }
  .tomahawk .project-img {
    background: url("../images/tomahawk.png") no-repeat center center; }
  .tomahawk .project-info {
    background: #2b2b2b; }
    .tomahawk .project-info .project-content .view-btn {
      background: #777777; }
    .tomahawk .project-info .project-content .view-btn:hover {
      background: #5e5e5e; }

.javascript30 {
  background: #4aa597; }
  .javascript30 .project-img {
    background: url("../images/javascript30.png") no-repeat center center; }
  .javascript30 .project-info {
    background: #4aa597; }
    .javascript30 .project-info .project-content .view-btn {
      background: #EF974A; }
    .javascript30 .project-info .project-content .view-btn:hover {
      background: #fc7e25; }

.trekking {
  background: #685c37; }
  .trekking .project-img {
    background: url("../images/trekking.png") no-repeat center center; }
  .trekking .project-info {
    background: #685c37; }
    .trekking .project-info .project-content .view-btn {
      background: #aa9d73; }
    .trekking .project-info .project-content .view-btn:hover {
      background: #978b65; }

.cuda {
  background: #D74680; }
  .cuda .project-img {
    background: url("../images/cuda.png") no-repeat center center; }
  .cuda .project-info {
    background: #D74680; }
    .cuda .project-info .project-content .view-btn {
      background: #17c2a4; }
    .cuda .project-info .project-content .view-btn:hover {
      background: #0db395; }

.legolas {
  background: #1a1a1a; }
  .legolas .project-img {
    background: url("../images/legolas.png") no-repeat center center; }
  .legolas .project-info {
    background: #1a1a1a; }
    .legolas .project-info .project-content .view-btn {
      background: #32bae7; }
    .legolas .project-info .project-content .view-btn:hover {
      background: #0594c4; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .container {
    max-width: 90%; }

  .top-section .container .top-titles h1 {
    margin: 0;
    font-size: 2.5em; }
  .top-section .container .top-titles h2 {
    margin: 0 0 45px 0;
    font-size: 1.5em; }
  .top-section .container .top-info {
    width: 100%;
    margin-bottom: 60px; }
  .top-section .container .top-button {
    width: 100%; }

  .logos {
    padding: 40px 0; }
    .logos .container {
      justify-content: space-around; }
      .logos .container .icon {
        width: 18%;
        height: auto;
        margin: 10px; }

  .projects .project {
    height: 100%; }
    .projects .project .project-img {
      height: 250px;
      width: 100%; }
    .projects .project .project-info {
      width: 100%; }
      .projects .project .project-info .project-content {
        max-width: 85%;
        margin: 11% auto 14% auto; }
        .projects .project .project-info .project-content h4 {
          font-size: 1.4em; }
        .projects .project .project-info .project-content p {
          font-size: 0.85em; }
        .projects .project .project-info .project-content .project-buttons .view-btn {
          padding: 10px 10px;
          margin-right: 8px;
          font-size: 0.8em;
          font-weight: 500;
          text-align: center; }

  .contact-info {
    text-align: center;
    width: 100%; }
    .contact-info h2 span {
      display: none;
      margin: 0 auto 0 auto; }
    .contact-info h3 {
      font-size: .9em;
      margin: 0 auto 10px auto; }

  .contact-form {
    width: 100%; }
    .contact-form form {
      width: 295px; }
      .contact-form form .input-blocks input {
        margin: 40px 0;
        width: 100%; }
      .contact-form form .input-blocks input[type="submit"] {
        margin: auto;
        width: 40%; }
      .contact-form form .input-blocks textarea {
        width: 100%; }

  .contact-img {
    width: 0%; }
    .contact-img img {
      display: none; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 410px) {
  .top-section .container .top-titles h1 {
    font-size: 2.8em; }
  .top-section .container .top-titles h2 {
    font-size: 1.8em; }
  .top-section .container .top-info {
    margin-bottom: 65px; }

  .projects .project .project-img {
    height: 300px; }
  .projects .project .project-info .project-content .project-buttons .view-btn {
    margin-right: 15px;
    font-size: 0.9em; }

  .contact-form {
    width: 100%; }
    .contact-form form {
      width: 375px; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 80%; }

  .top-section .container .top-titles h1 {
    font-size: 3.5em; }
  .top-section .container .top-titles h2 {
    font-size: 2.4em; }
  .top-section .container .top-info {
    width: 60%;
    margin-bottom: 0; }
    .top-section .container .top-info p {
      max-width: 100%;
      font-size: 1.1em; }
  .top-section .container .top-button {
    width: 40%;
    text-align: right;
    align-self: flex-end;
    margin-bottom: 12px; }

  .logos {
    padding: 30px 0; }
    .logos .container {
      justify-content: space-around; }
      .logos .container .icon {
        width: 12%;
        margin: 20px; }

  .projects .project {
    height: 90%; }
    .projects .project .project-img {
      height: 500px; }
    .projects .project .project-info .project-content {
      max-width: 80%;
      margin: 10% auto; }
      .projects .project .project-info .project-content .project-buttons .view-btn {
        margin-right: 15px;
        font-size: 1.1em;
        font-weight: 400;
        padding: 13px 16px; }

  .contact .container {
    margin: 7% auto; }
    .contact .container .contact-info h3 {
      font-size: 1.6em; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 75%; }

  .projects .project .project-img {
    height: auto;
    width: 50%; }
  .projects .project .project-info {
    width: 50%; }

  .projects .project:nth-child(even) {
    flex-direction: row-reverse; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px; }

  .top-section .container .top-info p {
    max-width: 80%; }

  .logos {
    padding: 40px 0; }
    .logos .container {
      justify-content: space-between; }
      .logos .container .icon {
        width: 8%;
        margin: 10px; }
      .logos .container .icon:first-child {
        margin-left: 0; }
      .logos .container .icon:last-child {
        margin-right: 0; }

  .projects .project {
    height: 600px; }
    .projects .project .project-img {
      height: auto; }
    .projects .project .project-info .project-content {
      max-width: 60%;
      margin: auto; }
      .projects .project .project-info .project-content p {
        font-size: 1em; }
      .projects .project .project-info .project-content .project-buttons .view-btn {
        margin-right: 15px;
        font-size: 0.9em; }

  .contact .container {
    margin: 5% auto; }
    .contact .container .contact-info {
      text-align: left;
      width: 33.3%; }
      .contact .container .contact-info h2 {
        margin: 0 auto 50px auto; }
        .contact .container .contact-info h2 span {
          display: inline-block; }
      .contact .container .contact-info h3 {
        font-size: 1.3em;
        margin: 0 100px 50px auto; }
    .contact .container .contact-form {
      width: 33.3%; }
      .contact .container .contact-form form {
        width: 375px; }
        .contact .container .contact-form form .input-blocks input {
          width: 100%; }
        .contact .container .contact-form form .input-blocks input[type="submit"] {
          margin: 40px auto;
          width: 40%; }
        .contact .container .contact-form form .input-blocks textarea {
          width: 100%; }
    .contact .container .contact-img {
      width: 33.3%; }
      .contact .container .contact-img img {
        display: block;
        margin: 0 auto 0 auto; } }

/*# sourceMappingURL=main.css.map */
